h2 {
  text-align: center;
}

h4 {
  margin: 10px 0;
}

p {
  margin: 0;
}

.cv-container {
  margin: 5px 0;
  text-align: initial;
}

.pro-card {
  display: grid;
  grid-template-columns: minmax(300px, 2fr);
  border-left: 3px solid lime;
  margin: 15px 3px;
  padding: 4px;
}

.info {
  margin-bottom: 5px;
}

@media (min-width: 800px) {
  .pro-card {
    margin: 20px 6px;
    padding: 8px;
  }
  .info {
    margin-bottom: 10px;
  }
}
