/* COLOR PALETTE */
:root {
  --background:	#1A2026;
  --foreground:	#FFFFFF;
  --cursorColor:	#FFFFFF;
  --color0:	#242D35;
  --color1:	#FB6396;
  --color2:	#94CF95;
  --color3:	#F692B2;
  --color4:	#6EC1D6;
  --color5:	#CD84C8;
  --color6:	#7FE4D2;
  --color7:	#FFFFFF;
  --color8:	#526170;
  --color9:	#F92D72;
  --color10:	#6CCB6E;
  --color11:	#F26190;
  --color12:	#4CB9D6;
  --color13:	#C269BC;
  --color14:	#58D6BF;
  --color15:	#F4F5F2;
}

body, h1, h2, h3, h4, h5, a {
  background: var(--background);
  color: var(--cursorColor);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

main {
  min-height: 80vh;
}

.grid {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
}

#devicons {
  display: grid;
}

.skill-holder {
  grid-template-columns: minmax(150px, 1.6fr) minmax(150px, 2.4fr);
  margin: 5px 0;
  padding: 5px 0;
}

.skill-holder:nth-child(odd) {
  /* background: #fff; */
}

@media (min-width: 800px) {
  .skill-holder {
    grid-template-columns: minmax(150px, 1.7fr) minmax(150px, 2.3fr);
  }  
}

@media (min-width: 1200px) {
  .skill-holder {
    grid-template-columns: minmax(150px, 1.8fr) minmax(150px, 2.2fr);
  }  
}

@media (min-width: 2000px) {
  .skill-holder {
    grid-template-columns: minmax(150px, 1.9fr) minmax(150px, 2.1fr);
  }  
}

.skill-name {
  padding-right: 25px;
}

.skill-heading {
  border-bottom: 2px solid lime;
  padding: 0;
  margin-right: 25px;
}

.icons-container {
  align-items: center;
  text-align: center;
}

.left {
  justify-self: end;
}

.right {
  justify-self: start;
  /* margin-left: -25px; */
}

/* The EN/ES language icons are a little top heavy */
.lang {
  padding-top: 10px;
  margin-bottom: -15px;
}

/* Default Icon Fill Color */
.icons {
  fill: #333;
}
/* Highlighted Icons have a differe fill color */
.icon-highlighted {
  fill: #efe134;
}

svg {
  margin: 0 3px;
}
