body {
  background: #f8f6ff;
}

main {
  min-height: 80vh;
}

.grid {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
}

#devicons {
  display: grid;
}

.skill-holder {
  grid-template-columns: minmax(150px, 1.6fr) minmax(150px, 2.4fr);
  margin: 5px 0;
  padding: 5px 0;
}

.skill-holder:nth-child(odd) {
  background: #fff;
}

@media (min-width: 800px) {
  .skill-holder {
    grid-template-columns: minmax(150px, 1.7fr) minmax(150px, 2.3fr);
  }  
}

@media (min-width: 1200px) {
  .skill-holder {
    grid-template-columns: minmax(150px, 1.8fr) minmax(150px, 2.2fr);
  }  
}

@media (min-width: 2000px) {
  .skill-holder {
    grid-template-columns: minmax(150px, 1.9fr) minmax(150px, 2.1fr);
  }  
}

.skill-name {
  padding-right: 25px;
}

.skill-heading {
  border-bottom: 2px solid lime;
  padding: 0;
  margin-right: 25px;
}

.icons-container {
  align-items: center;
  text-align: center;
}

.left {
  justify-self: end;
}

.right {
  justify-self: start;
  /* margin-left: -25px; */
}

/* The EN/ES language icons are a little top heavy */
.lang {
  padding-top: 10px;
  margin-bottom: -15px;
}

/* Default Icon Fill Color */
.icons {
  fill: #333;
}
/* Highlighted Icons have a differe fill color */
.icon-highlighted {
  fill: #efe134;
}

svg {
  margin: 0 3px;
}
