.index-container {
  margin: var(--ms);
  background: var(--color8);
}

.cards {
  display: inline-block;
  position: relative;
  text-align: center;
}

i.icon.mdi {
  color: #fff;
  font-size: 34pt!important;
  left: 0;
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 1;
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.hexagon-wrapper {
  display: inline-block;
  height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
}

.bullet-point-wrapper {
  padding: 0.5rem;
  margin: 1rem auto;
  grid-template-columns: 1fr 1fr;
}

.hexagon {
  background-color: #04c2c9;
  display: inline-block;
  height: 100%;
  width: calc(100% * 0.57735);
}

.hexagon::after {
  background-color: inherit;
  content: "";
  height: inherit;
  position: absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  top: 0;
  transform: rotateZ(-60deg);
  width: inherit;
}

.hexagon::before {
  background-color: inherit;
  content: "";
  height: inherit;
  position: absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  top: 0;
  transform: rotateZ(60deg);
  width: inherit;
}

.card {
  margin: var(--ms);
  padding: var(--ps);
  background: rgba(0,0,0,0.18);
}

#devicons {
  display: block;
}

.sub-heading,
.sub-heading > h2 {
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem 0.5rem;
}

.skill-holder,
.percent-container, 
.skill-name,
.tag-holder {
  font-size: 1.1rem;
  height: 2.2rem;
}

.skill-holder {
  background: var(--color0);
  align-items: flex-end;
  background-color: gray;
  margin: 0 0 1rem 0;
  position: relative;
}

.skill-name {
  background: linear-gradient(to left, var(--color15), var(--color4) 100%);
  top: 0;
  opacity: 0.9;
  padding: 0.25rem;
}

section {
  background: var(--color0);
}

section:nth-of-type(2) .skill-name {
  position: absolute;
  left: 0;
  top: 0;
}

.tag-holder {
  background: var(--color0);
  width: 8rem;
  justify-content: space-between;
  padding: 0.25rem 0.4rem;
}

.percent-container {
  display: none;
  padding-right: 1rem;
  z-index: 2;
  opacity: 0.5;
  color: var(--highlightColor);
}

/* Default Icon Fill Color */
.icons {
  fill: var(--textColor);
  padding: 1px;
}

/* The EN/ES language icons are a little top heavy, 
* This makes them appear to be better centered vertically */
.icon-en, 
.icon-es {
  margin-top: 3px;
  margin-bottom: -3px;
}
.icon-js,
.icon-bs {
  padding: 2px;
}
.icon-bbq {
  margin-left: -2px;
}

/* MEDIA QUERIES */
@media (min-width: 500px) {
  .card {
    margin: var(--mm);
    padding: var(--pm);
  }
}
@media (min-width: 700px) {
  .skill-holder,
  .percent-container, 
  .skill-name,
  .tag-holder {
    font-size: 1.4rem;
    height: 3.1rem;
  }
  .tag-holder {
    width: 11rem;
  }  
}
@media (min-width: 900px) {
  .card {
    margin: var(--ml);
    padding: var(--pl);
  }
  .focus-area {
    height: 25rem; /* 10px * 25rem = 250px */
  }

  .bullet-point-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  svg {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 1100px) {
  .skill-holder,
  .percent-container, 
  .skill-name,
  .tag-holder {
    font-size: 1.7rem;
  }
  .tag-holder {
    width: 14rem;
  } 
}
@media (min-width: 1900px) {
}