header {
  display: flex!important;
  text-align: center;
  width: 100vw;
}

.header-container {
  margin: 0 auto;
  padding: 0;
}

.overlay-span {
  position: absolute; 
  display: flex;
  /* Center element horizontally */
  top: 0;
  left: 50%;
  transform: translate(-50%, 3rem);
}

.canvas-container {
  margin-bottom: 1.45rem;
  position: relative; 
  max-width: 100%;
  max-height: 100%;
}

.pts-react {
  width: 100vw;
  height: 50vh;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
}

nav.nav {
  background: var(--color12);
  transition: all 200ms ease-in;
  z-index: 101;
  /* position: fixed;
  top: 0; */
  box-shadow: 0 5px 0 rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
}

.nav-link,
.site-title {
  text-decoration: none;
}

a.nav-link {
  /* background: rgba(0,0,0,0.5);
  min-height: 4rem;
  padding: 0.4rem;
  padding-top: 1rem; */
  border: 1px dashed rgba(141, 70, 199, 0.4);
  transform: scale(1);
  margin-right: 0.2rem;
}

.nav-link:hover, .nav-link:focus {
  transition: all 0.5s ease-in-out!important;
}

a.nav-link.active-nav {
  border-bottom: 4px solid lime;
  font-weight: 600;
  font-size: xx-large;
  padding: 1px 10px;
}

.profile-image {
  border-radius: 50%;
  min-width: 20rem;
  max-width: 70vw;
}

/* CANVAS DRAWING */
canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 500px) {
  .overlay-span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
}
@media (min-width: 700px) {
  .profile-image {
    min-width: 25rem;
  }
  .pts-react {
    top: 1rem;
    left: 1rem;
    right: 1rem;
    min-height: 93vh;
    bottom: 1rem;  
  }
}
@media (min-width: 900px) {
}
@media (min-width: 1100px) {
  .pts-react {
  }
}
@media (min-width: 1900px) {
}